:root {
  --font-serif: "Merriweather", serif;
  --font-sans-serif: "Montserrat", sans-serif;
  --font-mono-space: "IBM Plex Mono", monospace;
  --font-size-s: 1rem;
  --font-size-m: 1.2rem;
  --font-size-l: 1.4rem;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin-block: 0;
  margin-inline: 0;
}

header {
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  width: 100%;
  padding: 1.5em;
}

h1,
h2 {
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1em;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
  font-family: var(--font-sans-serif);
}

main {
  max-width: 600px;
  padding: 1.5em;
}
